/* Universal Style */
* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	box-sizing: border-box;
	font-family: "Montserrat",Arial,sans-serif;
}

h1, h2, h3, h4, cite {	
	color: #00032D;
}

p, a {
	color: #0B1B54;
	line-height: 1.5;
}

h2 {
	font-size: 2.4rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-weight: bold;
	line-height: 1.2;
}

h4 {
	font-size: 1.6rem;
	font-weight: bold;
	padding-bottom: 1rem;
	margin-top: 1rem;
}

.italic {
	font-style: italic;
}


/*----TOP NAVIGATION----*/

header {
	position: fixed;
	z-index: 10;
	padding-top: 24px;
	padding-bottom: 24px;
	background-color: #fff;
	width: 100%;
}

header #logo {
	margin-left: 1.5rem;
	float: left;
}

header #logo img {
	width: 2rem;
	vertical-align: middle;
}

header #logo h3 {
	display: inline-block;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: middle;
}

header #logo h3 span {
	font-weight: 300;
	color: #A0AEC0;
}

header ul#navbar-mobile {
	display: none;
}

header li {
	display: inline-block;
}

header a {
	text-decoration:none;
	transition: all 500ms ease;
}

header a:hover {
	
}

.menu-links {
	float: right;
	padding-top:10px;
}

.menu-links a {
	padding:2.56rem 1.25rem;
	}

.menu-links a:hover {
	background-color: #A0AEC0;
	color: white;

}

.active {
	display: inline-block;
}

.mobile-menu {
	display: none;
	width: 43px;
	height: 40px;
	position: relative;
	cursor: pointer;
	margin-right: 1rem;
	margin-top: -.8rem;
}

.mobile-menu span {
	position: absolute;
	display: block;
	height: .5rem;
	width: 100%;
	border-radius: 5px;
	background: #A0AEC0;
	transform: rotate(0deg);
	transition:all .5s cubic-bezier(0.25, 0.1, 0.61, 1.48);
	opacity: 1;
	left:0;
}

.mobile-menu span:first-child {
	top:0;
}

.mobile-menu span:nth-child(2) {
	top: 1rem;
}

.mobile-menu span:last-child {
	top: 2rem;
}

.mobile-menu.open span:first-child {
	transform: rotate(135deg);
	top: 1rem;
}

.mobile-menu.open span:nth-child(2) {
	left: -1.5rem;
	opacity: 0;
}

.mobile-menu.open span:last-child {
	transform: rotate(-135deg);
	top: 1rem;
}

/*----BANNER SECTION----*/

section#banner {
	background-color: #A0AEC0;
	padding-top: 5.5rem;
	align-items: center;
	display: flex;
}


.left-side {
	display: flex;
	flex-direction: column;
	width: 60%;
	padding-left: 1.5rem;
}

section .image-container {
	padding: 2rem 1.5rem 2rem 0;
}

section .image-container img {
	width: 100%;
	height: auto;
}

section div#title-container {
	margin-left: 1.5rem;
	width: 25%;
}

section div#title-container h4 {
	line-height: 1.2;
	font-weight: normal;
}

section div#title-container .button {
	display: inline-block;
	padding-top:0.5rem;
	padding-bottom:0.5rem;
	text-decoration:none;
	background-color: #0B1B54;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	color: white;
	margin-top:2rem;
	transition: all 300ms ease;
}

section div#title-container .button:hover {
	background-color: #00032D;
}

blockquote {
	width: 85%;
}

blockquote p,  {
	font-style:italic;
	color: #A0AEC0;
}

blockquote cite {
	display: block;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

/*----INFO SECTION----*/

section#info {
	background-color: #F2F5F5;
	display: flex;
}

div.border {
	border-right: 1px solid #d7d7d7;
}

.mobile-image {
	display: none;
}

.right-side {
	display: flex;
	flex-direction: column;
	width: 40%;
}

.right-side > div:first-child {
	padding-top: 1rem;
	border-bottom:1px solid #d7d7d7;
}

.aside {
	display: flex;
	align-items: center;
	transition: all 300ms ease-in-out;
}

.aside:hover {
	background-color: #A0AEC0;
}

.aside-img {
	padding: 1rem;
}

.aside-img img {
	width: 100%;
	height: auto;
}

.aside-info {
	width: 65%;
}

.aside-info p {
	margin-top: 1rem;
}

/*----COURSES SECTION----*/

section#courses-section {
	background-color: #EAEAEC;
}

.center-text {
	text-align: center;
}

#courses {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-wrap: wrap;
	padding:1rem 3.5rem;
}

#course-mobile {
	display: none;
}

.course {
	display: flex;
	flex-direction: column;
	width: 29%;
	background-color: #fff;
	margin-bottom:2rem;
	padding-bottom: 1.5rem;
	transition: all 300ms ease-in-out;
}

.course:hover {
	width: 32%;
	margin-bottom: 1rem;
}

.course img {
	height: auto;
	width: 100%;
}

.course .no-mobile {
	transition: all 300ms ease-in-out;
}

.course .no-mobile:hover {
	width: 32%;
}

.course-text {
	padding: 1rem 1rem 1.5rem 1rem;
}


.course-text p {
	margin-top: .5rem;
}

/*----THESIS SECTION----*/

#thesis {
	display: flex;
}

#thesis-side, #thesis-side >.aside-img {
	padding-top: 0.2rem;
}

video {
	width: 100%;
}

hr {
	border: 1px solid #d7d7d7;
	width: 90%;
	margin-top: 2rem;
}

/*----FOOTER SECTION----*/

footer {
	display: flex;
	justify-content: space-between;
	height: 5rem;
	margin-top: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

#copy p, #terms p, #terms a  {
	display: inline-block;
	font-size: 0.8rem;
}

#terms a {
	text-decoration:none;
	margin-right: 1rem;
}

/*----MEDIA QUERIES TABLET----*/

@media only screen and (max-width: 880px) {

	h2 {
		font-size: 1.4rem;
	}

	h4 {
		font-size: 1.2rem;
	}

	header #logo h3 {
	font-size: 1rem;
	}

	.course {
		width: 33%;
	}

	#info>.right-side, #thesis>.right-side {
		display: none;
	}

	#thesis>.left-side {
		width: 100%;
	}
}

/*----MEDIA QUERIES MOBILE----*/

@media only screen and (max-width:724px) {

	a {
		text-decoration: none;
	}

	header {
		height: 4rem;
		justify-content: space-evenly;
	}

	/*div#logo.no-mobile {
		display: none;
	}*/

	.menu-links {
		display: none;
		transition: all .5s ease;
	}

	.menu-links a {
		padding: 0.70rem 1.5rem 0.2rem 1.5rem;
		color: white;
	}

	.menu-visible {
		display: block;
		width: 100%;
		position: absolute;
		bottom: -6.6rem;
		background-color: rgba(11, 27, 84,0.5);
	}

	header ul {
		margin:0;
	}

	header ul li {
		border-radius: 25%;
		display: block;
	}

	header ul li:last-child {
		padding-right: 0.5rem;
	}

	header ul#navbar-mobile {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
	}

	.mobile-menu {
		display: inline-block;
		float: right;
	}

	section#banner {
		flex-direction: column;
		padding-top:3.5rem;
	}

	div.left-side {
		width: 100%;
		padding:0;
	}

	div.image-container {
		padding:0;
	}


	div#title-container.right-side {
		width: 80%;
		margin:0 auto;
		padding-bottom: 2rem;
		text-align: center;
}

	div.left-side.border, .no-mobile {
		display: none;
	}

	div.right-side {
		width: 100%;
	}

	.mobile-image {
		display: block;
		padding-top: 1rem;
	}

	.aside {
		flex-direction: column;
		padding-bottom: 2rem;
	}

	section#courses-section {
		border-top: 1px solid #D7D7D7;
		background-color: #fff;
	}

	#courses {
		padding:1rem 0.5rem;
	}

	#course-mobile {
		display: block;
		margin-bottom: 1.5rem;
		width: 100%;
	}

	#course-mobile p {
		padding:1rem 1rem 1.5rem 1rem;
		margin-bottom: 0.5rem;
		background-color: #d7d7d7;
	}

	footer {
		margin-top:1.5rem 
	}

	#copy p {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}
